name: BuildAndRunTests


on: [push, pull_request]

jobs:
  WindowsTest:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build "RhuEngineTests" --configuration Debug --no-restore
    - name: Test
      run: dotnet test "RhuEngineTests" --configuration Debug --no-build --verbosity normal

  UbuntuTest:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build "RhuEngineTests" --configuration Debug --no-restore
    - name: Test
      run: dotnet test "RhuEngineTests" --configuration Debug --no-build --verbosity normal

